{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container">
    {% include 'includes/alerts.html' %}
    <p class="fw-bold text-center">Available books</p>
    <table class="table border border-dark table-hover">
        <thead>
            <tr>
                <th scope="col"> <i class="bi bi-book-fill"></i> Name</th>
                <th scope="col"> <i class="bi bi-person-circle"></i> Author</th>
                <th scope="col"> <i class="bi bi-three-dots-vertical"></i> Category</th>
                <th scope="col"> <i class="bi bi-pencil-square"></i> Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.categories}}</td>
                <td><a class="btn btn-sm btn-primary" href="{% url 'issueBook_noform' book.id %}"> <i class="bi bi-plus"></i> Request Book</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}