{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4 class="fw-bolder mt-5">Login</h4>
    <div class="row">
        <div class="col-md-7">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <label>Email</label>
                <input type="text" class="form-control" name="email">
                <label>password</label>
                <input type="password" class="form-control" name="password">
                <input type="submit" class="btn btn-outline-success mt-3" value="Login">
            </form>
            <p class="mt-2">Don't have an account? <a href="{% url 'register' %}" class="btn btn-primary"> <i class="bi bi-person-check"></i> Signup</a></p>
            {% include 'includes/alerts.html' %}
        </div>
        <div class="col-md-5">
            <figure><img class="img-fluid rounded-top"
                    src="https://images.unsplash.com/photo-1521056787327-165dc2a32836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=725&q=80">
            </figure>
        </div>
    </div>
</div>
{% endblock content %}